<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.demo.Address">
        <property name="city" value="Beijing"/>
    </bean>

    <bean id="student" class="com.demo.Student">
        <property name="name" value="Tom"/>
        <property name="address" ref="address"/>
    </bean>

</beans>
